.aboutSec-section {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 84px auto 16px auto;
}
.img6767 {
  width: 510px;
  height: 560px;
}
.div6565y {
  width: 100%;
  padding-left: 80px;
}
.info-para {
  font-size: 35px;
  text-align: center;
  padding-top: 2.5rem;
}
.info-para span {
  color: #e11d48;
}
.center {
  text-align: center;
  line-height: 1.7rem;
}
