h3{
    margin-top: 20px;
    margin-bottom: 7px;
    text-align: center;
}
.geewe{
    width:90%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 40px;
}
.geewe td{
    padding:10px;
    text-align: center;
    border: 1px solid black;
}
.geewe th{
    border: 1px solid black;
}
.geewe img{
    width:150px;
    height:90px;
}