.cart-page {
  padding: 120px 20px;
  min-height: 520px;
}

.cart-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.cart-items table {
  width: 100%;
  border-collapse: collapse;
}

.cart-items th,
.cart-items td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-items th {
  text-align: left;
}

.cart-items input {
  width: 50px;
  padding: 5px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.cart-total p {
  font-weight: bold;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: auto;
  gap: 2rem;
}
.button-232 {
  background-color: rgb(225 29 72);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 10px;
}
.button-4 {
  border: 1px solid rgb(225 29 72);
  background-color: white;
  color: rgb(225 29 72);
  padding: 0px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}
.text333 {
  width: 32px;
  text-align: center;
}
