.layout {
  width: 100%;
}
.home-topsec {
  width: 100%;
  height: 100vh;
  /* background-image: url("https://trydo.rainbowit.net/assets/images/preview/preview-bg.jpg"); */
  background-image: url("https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: 100% 100%;
  background-attachment: fixed;
  position: fixed;
}
.div-backg {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: center;
  height: 100vh;
}
.div-backg h2 {
  font-size: 40px;
  font-weight: 800;
  color: #e11d48;
}
.div-backg p {
  margin: 25px 0;
  color: #515462;
  line-height: 24px;
  word-spacing: 3px;
}
/* .home-button {
  border: none;
  background: #E11D48;
  margin: 5px;
  padding: 12px 30px;
  border-radius: 5px;
} */
.home-button {
  background: #e11d48;
  margin: 5px;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.home-button-white {
  border: 1px solid #e11d48;
  background-color: white;
  color: #e11d48;
}
.empty-div {
  pointer-events: none;
  background: transparent;
  height: 100vh;
  width: 100%;
  position: relative;
}
.homee-section {
  background-color: white;
  position: relative;
  padding: 10px;
}

.home {
  position: relative;
  background-color: white;
}
.home-sec1 {
  text-align: center;
  margin: 35px 20px;
}
.home-sec1 h2 {
  color: #e11d48;
  font-size: 40px;
}
.home-sec1-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home-sec1-flex-child {
  width: 300px;
  margin: 40px 0;
}
.sec1-para {
  color: #e11d48;
  font-size: 40px;
}

/* .hero {
  text-align: center;
  background-color: #dbdada;
  padding: 70px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
} */

.section-2 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 15px;
  box-shadow: 0 0 5px -1px #e11d48;
  margin: 0 15px;
}
.section-2-1 {
  margin: 5px;
}
.section-2-1 > h2 {
  padding: 20px 0px;
  color: #e11d48;
}
.section-2-1 > p {
  line-height: 1.8rem;
}
.img121 {
  font-size: 65px;
  background-color: #e11d48;
  color: white;
  padding: 10px;
  border-radius: 50%;
}
.section-3 {
  margin: 4rem 150px;
}
.section-3 > h2 {
  text-align: center;
  color: #e11d48;
}
.section-3 > p {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2.4rem;
}
.section-menu {
  display: flex;
  justify-content: space-around;
}
.menu-1 {
  width: 40%;
  box-shadow: 0 0 3px 0.5px #e11d48;
  margin: 0 15px;
}
.menu-1 > img {
  width: 100%;
  height: 300px;
}
.pizza {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 35px;
  padding-bottom: 10px;
}
.pizza > h2 {
  color: #e11d48;
}
.explore {
  background-color: white;
  border: #e11d48 1px solid;
  color: #e11d48;
  padding: 6px 16px;
}
.explore:hover {
  background-color: #e11d48;
  color: white;
  cursor: pointer;
}
