.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 158px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.btn-login {
  padding: 10px;
  background-color: #e11d48;
  color: #fff;
  border: none;
  cursor: pointer;
}
.line-er45 {
  border-top: 1px solid #333;
  margin-top: 15px;
  margin-bottom: 15px;
}
.forget {
  text-align: right;
  font-size: 14px;
  margin-bottom: 15px;
  cursor: pointer;
}
.error-msg {
  float: right;
  color: red;
  font-size: 14px;
}
.arrowleft333 {
  position: absolute;
  top: 10px;
  cursor: pointer;
  font-size: 16px;
}
/* signup code start here  */
