.menu {
  display: flex;
  flex-direction: column;
  margin-top: 84px;
  min-height: 90vh;
}
.section {
  margin-bottom: 20px;
}
.heading {
  text-align: center;
  color: #515462;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.item {
  margin: 20px;
  text-align: center;
}
.item img {
  width: 400px;
  height: 240px;
  object-fit: cover;
}
.item h3 {
  margin: 10px 0;
  color: #515462;
}
.item p {
  font-weight: bold;
  margin: 10px 0;
  color: #515462;
}
.button-1 {
  width: 150px;
  height: 35px;
  background-color: white;
  border: 1px solid rgb(225 29 72);
  font-size: 15px;
  color: rgb(225 29 72);
}
.btn-margin {
  margin-top: 8px;
}
.button-1:hover {
  background-color: rgb(225 29 72);
  color: white;
  cursor: pointer;
}
/* menu page code end here  */

/*selectitem code start here  */
.detail-container {
  display: flex;
  width: 70%;
  min-height: 90vh;
  justify-content: center;
  margin: auto;
  padding: 110px 0;
}
.detail-container > div > img {
  width: 600px;
  height: 440px;
  object-fit: cover;
}
.detail-flex2 {
  padding: 20px 0px 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.detail-heading {
  font-size: 26px;
  line-height: 1.5rem;
  margin: 10px 0;
}
.detail-flex2 > p {
  font-size: 17px;
}

/* selectitem code end here  */
