.navbar-section3 {
  display: flex;
  align-items: center;
}
.cart {
  color: rgb(225 29 72);
  text-decoration: none;
  font-size: 20px;
  position: relative;
  margin-right: 10px;
}
.cart-numbers {
  position: absolute;
  top: -10px;
  right: -11px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  box-shadow: 0 0 6px -4px #333;
}
.navbar-logo {
  width: 75px;
  height: 60px;
}
.navbar-sec2 {
  display: flex;
}
.navbar-sec2-Link {
  text-decoration: none;
  color: #515462;
  padding: 9px 30px;
  padding-bottom: 5px;
}
.nav-sec2Color {
  border-bottom: 1.5px solid rgb(225 29 72);
}

/* footer code start here  */
footer {
  position: relative;
  background-color: rgb(225 29 72);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-top: 40px;
}
.footer-child {
  width: 30%;
}
.flex {
  display: flex;
}
.footer-img {
  width: 50px;
  height: 50px;
  color: rgb(225 29 72);
  background-color: white;
  border-radius: 3px;
  padding: 12px;
}
.flex3-img {
  width: 50px;
  height: 50px;
  color: rgb(225 29 72);
  background-color: white;
  border-radius: 3px;
  padding: 13px;
  margin: 0 10px;
}
.space-left {
  padding-top: 6px;
  padding-left: 10px;
}
.footer-2 {
  background-color: rgb(225 29 72);
  color: #fff;
}
.footer-bottom {
  text-align: center;
  font-weight: 600;
  font-size: 17px;
}
