footer{
    background-color: #333;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:15px;
  }
  .footer-child{
    width:30%;
    /* background-color: aqua; */
  }
  .flex{
    display: flex;
  }
  .footer-img{
    width:50px;
    height:50px;
    color:#333;
    background-color:white;
    border-radius: 50%;
    padding:12px;
  }
  .flex3-img{
    width: 50px;
    height: 50px;
    color: #333;
    background-color: white;
    border-radius:20%;
    padding:13px;
    margin: 0 10px;
  
  }
  .space-left{
    padding-top: 6px;
    padding-left: 10px;
  }
.footer-2 {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  .footer-bottom {
    text-align: center;
  }