.menu {
    display: flex;
    flex-direction: column;
  }
  
  .section {
    margin-bottom: 20px;
  }
  .heading {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu-flex {
    display: flex;
    justify-content: space-around;
  }
  .button-1{
      width:170px;
      height: 35px;
      background-color: white;
      border:1px solid #555;
      font-size: 15px;
  }
  .button-1:hover{
      background-color:#555 ;
      color: white;
      cursor: pointer;
  }
  .item {
    margin: 20px;
    text-align: center;
  }
  .item img {
    width: 350px;
    height: 200px;
    object-fit: cover;
  }
  
  .item h3 {
    margin: 10px 0;
  }
  
  .item p {
    font-weight: bold;
    margin: 10px 0;
  }