@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #ea6d27;
  --secondary-color: #101a24;
  --third-color: #5c6574;
  --white-color: #ffffff;
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family-primary);
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: var(--primary-color);
  background: #d3d4d6;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
.table-scrollbar::-webkit-scrollbar {
  height: 3px;
}
.main-container {
  max-width: 1432px;
  padding-inline: 1rem;
  margin: 0 auto;
}
.curved-twoSides {
  border-radius: 5rem 2rem;
}
.footer-grid {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1.5fr 1fr 1fr 1.3fr;
  grid-template-rows: auto;
}
#review-swiper .swiper-wrapper {
  padding: 4rem 0 3.5rem;
}
#review-swiper .swiper-pagination-bullet-active {
  background:var(--primary-color);
}

@media screen and (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
