@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: rgb(225 29 72);
  background: #d3d4d6;
}

::-webkit-scrollbar-thumb {
  background: #515462;
  background: rgb(225 29 72);
}

@import url("./Styles/NavbarFooter.css");
@import url("./Styles/Home.css");
@import url("./Styles/About.css");
@import url("./Styles/Menu.css");
@import url("./Styles/Cart.css");
@import url("./Styles/Login.css");

.margintop {
  margin-top: 70px;
}
