@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
}


@import url("./Styles/NavbarFooter.css");
@import url("./Styles/Home.css");
@import url("./Styles/About.css");
@import url("./Styles/Menu.css");
@import url("./Styles/Cart.css");
@import url("./Styles/Login.css");






